@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Nothing+You+Could+Do&display=swap');

body {
  background-color: #A56A26 !important;
}

.myStuffTitle {
  text-align: center;
  color: #444430;
  font-size: 84px;
  font-weight: 400;
  font-family: 'Heebo', sans-serif;
  text-shadow: 2px 2px #A9A29E;
}

.card-styling {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}