@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Nothing+You+Could+Do&display=swap');

body {
  background-image: url(../images/homeBackgroundImage.png);
}

.input {
  font-size: 18px;
  color: #a56a26;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
}

.btn-styling {
  font-family: 'Heebo', sans-serif;
  background-color: #e0ccaa;
  outline-color: #a56a26;

  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px;
}